<a href="https://colab.research.google.com/github/Kachanta/Webscrapping/blob/main/webscraping_world_population_data_from_web.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## WEB SCRAPING LIST OF COUNTRIES AND THEIR POPULATION
Web scraping is a valuable skill for data scientists, as it allows us to extract data from websites and analyze it for insights. 

In this project, we will be using web scraping techniques to extract data on world population by countries from the popular online encyclopedia Wikipedia. Wikipedia is a rich source of information on a wide range of topics, including demographics and population statistics for countries around the world.

To begin, we will start by importing the relevant libraries

In [58]:

import pandas as pd
import numpy as np
import matplotlib as plt

We start by identifying the relevant Wikipedia pages that provide population data for countries, and then assigning an alias "url" before reading the data into pandas

In [ ]:
url = "https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population"
raw = pd.read_html(url, skiprows = [0])
raw

In [67]:
# We Identify the list containing our desired data 
df = raw[0]

In [68]:
# We clear the multi-level columns and reasign the apropriate columns names 
df.columns = df.columns.droplevel(0)
df.columns = ["Rank","Countries","Population","percentage","Date","Source","Notes"]
df.head()

,Rank,Countries,Population,percentage,Date,Source,Notes
0,1,China,1411750000,NaN,31 Dec 2022,Official estimate[4],The population figure refers to mainland China...
1,2,India,1375586000,NaN,1 Mar 2022,Official projection[5],The figure includes the population of the Indi...
2,3,United States,334414390,NaN,22 Feb 2023,National population clock[6],The figure includes the 50 states and the Dist...
3,4,Indonesia,275773800,NaN,1 Jul 2022,Official estimate[7],NaN
4,5,Pakistan,235825000,NaN,1 Jul 2022,UN projection[3],The figure includes the population of Pakistan...

In [ ]:
df.info()

### Exploratory Data Analysis

In [71]:
df.describe(include="all")

,Rank,Countries,Population,percentage,Date,Source,Notes
count,241,241,2.410000e+02,0.0,241,241,33
unique,196,241,NaN,NaN,57,202,33
top,–,China,NaN,NaN,1 Jul 2021,UN projection[3],The population figure refers to mainland China...
freq,46,1,NaN,NaN,69,25,1
mean,NaN,NaN,3.248241e+07,NaN,NaN,NaN,NaN
std,NaN,NaN,1.323967e+08,NaN,NaN,NaN,NaN
min,NaN,NaN,4.700000e+01,NaN,NaN,NaN,NaN
25%,NaN,NaN,3.012950e+05,NaN,NaN,NaN,NaN
50%,NaN,NaN,5.431344e+06,NaN,NaN,NaN,NaN
75%,NaN,NaN,2.212500e+07,NaN,NaN,NaN,NaN
max,NaN,NaN,1.411750e+09,NaN,NaN,NaN,NaN